<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss:SSS} [%thread] %-5level %logger [%file : %line] - %msg%n
            </pattern>
        </layout>
    </appender>

    <!--每天生成日志的类-->
    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <!--定义日志输出的路径-->
        <!--比如通过 java -Dscheduler.manager.server.home=/path/to XXXX 配置该属性-->
        <file>/LZB/logs/info.log</file>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <fileNamePattern>/LZB/logs/info.%d.log</fileNamePattern>
            <maxHistory>60</maxHistory><!--60天的时间周期，日志量最大20GB-->
            <totalSizeCap>20GB</totalSizeCap> <!-- 该属性在 1.1.6版本后 才开始支持-->
        </rollingPolicy>


        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss:SSS} [%thread] %-5level %logger [%file : %line] - %msg%n
            </pattern>
        </encoder>

    </appender>


    <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <!--定义日志输出的路径-->
        <!--比如通过 java -Dscheduler.manager.server.home=/path/to XXXX 配置该属性-->
        <file>/LZB/logs/error.log</file>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <fileNamePattern>/LZB/logs/error.%d.log</fileNamePattern>
            <maxHistory>60</maxHistory><!--60天的时间周期，日志量最大20GB-->
            <totalSizeCap>20GB</totalSizeCap> <!-- 该属性在 1.1.6版本后 才开始支持-->
        </rollingPolicy>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss:SSS} [%thread] %-5level %logger [%file : %line] - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="consoleLog" />
        <appender-ref ref="fileInfoLog" />
        <appender-ref ref="fileErrorLog" />
    </root>

</configuration>
